@import url('https://fonts.googleapis.com/css?family=Cousine&display=swap');

// Font variables
$font: 'Cousine', monospace;

// Color variables
$color-base: #282c34;
$color-base-light: #3e4451;
$color-base-dark: #000;
$color-accent: #f73859;
$color-accent-light: #ededed;
$color-secondary: #fed134;
$color-tertiary: #2bccd8;